body{
    margin: 0;
    padding: 0;
}

.homeHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddBTN button{
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid rgba(53, 99, 233, 1);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin-bottom: 20px;
}

.AddBTN button:hover{
    background-color: rgba(53, 99, 233, 1);
    color: aliceblue;
}

/* Style for the form */
